<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Election Isi ARIANA 2022</title>
	<meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
	<meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
	<meta name="author" content="Luka Cvetinovic for Codrops" />
	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="../static/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../static/img/favicons/apple-touch-icon-60x60.png">
	<link rel="icon" type="image/png" href="../static/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../static/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../static/img/favicons/manifest.json">
	<link rel="shortcut icon" href="../static/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="../static/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- Normalize -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<!-- Bootstrap -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Owl -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
	<!-- Animate.css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="../static/fonts/eleganticons/et-icons.css">
	<!-- Main style -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cardio.css' %}">

	<script>
		
		function validate(){
		var username = document.getElementById("cin").value;
		var password = document.getElementById("password").value;
		if ( username == "12345678" && password == "12345678"){
		alert ("Login successfully");
		document.getElementById("cin").disabled = true;
		document.getElementById("password").disabled = true;
		document.getElementById("log").disabled = true;
		document.getElementById("deco").innerText = "Déconnexion ";
		document.getElementById("vote").disabled = false;
		
		}
		else{
		alert("Verifier vos donner");
		window.location = "#";
		
		}
		}


		function vote(){
			var state = document.getElementById("deco").innerText;
			if(state == "Déconnexion")
			{
				alert("Vous avez voter pour Foulen ben Foulen");
			}else{
				alert("Vous etre pas connecter");
			}

		}
		</script>
</head>

<body>
	<div class="preloader">
		<img src="../static/img/loader.gif" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="../static/img/logo.png" data-active-url="../static/img/logo.png" alt=""></a>
			</div> 
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="#intro">Accueil</a></li>
					<li><a href="#services">Condidats</a></li>
					<li><a href="#team">Vote</a></li>
					<li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue"><label id="deco">Sign in</label> </a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">Bienvenue sur notre site web.</h3>
							<h1 class="white typed">Election ISI Ariana 2022.</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4">
				
				</div>
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4">
					
					
				</div>
			</div>
		</div>
	</section>
	<section id="services" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Condidats</h2>
				<h4 class="light muted">Voici la liste des condidats participants dans cette éléction </h4>
			</div>
			<div class="row services">
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="../static/img/icons/1.jpg" alt="" class="icon">
						</div>
						<h4 class="heading">Wassim HAMMAMI</h4>
						<p class="description">Enseignant à l'ISI depuis 10 ans.</p>
						<p class="description"><li class="description"> Mettre des mésures corrective à fin d'améliorer la qualité.</li> </p>
						<p class="description"><li class="description"> Réviser le contenu des formations.</li> </p>
						<p class="description"><li class="description"> Augmenter le taux de réussite.</li> </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="../static/img/icons/2.jpg" alt="" class="icon">
						</div>
						<h4 class="heading">Med Ali MEFTAH</h4>
						<p class="description">Enseignant à l'ISI depuis 10 ans.</p>
						<p class="description"><li class="description"> Mettre des mésures corrective à fin d'améliorer la qualité.</li> </p>
						<p class="description"><li class="description"> Réviser le contenu des formations.</li> </p>
						<p class="description"><li class="description"> Augmenter le taux de réussite.</li> </p>

						
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="../static/img/icons/3.jpg" alt="" class="icon">
						</div>
						<h4 class="heading">Montassar BOUSELMI</h4>
						<p class="description">Enseignant à l'ISI depuis 10 ans..</p>
						<p class="description"><li class="description"> Mettre des mésures corrective à fin d'améliorer la qualité.</li> </p>
						<p class="description"><li class="description"> Réviser le contenu des formations.</li> </p>
						<p class="description"><li class="description"> Augmenter le taux de réussite.</li> </p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="team" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Vote</h2>
				<h4 class="light muted">Merci de prendre votre temps dans le vote </h4>
			</div>
			<div class="row">

				{% if con %}
					{% for st in con %}
						<div class="col-md-4">
							<div class="team text-center">
								<div class="cover" style="background:url('../static/img/team/arriere.jpg'); background-size:cover;">
									<div class="overlay text-center">
										<h3 class="white">{{st.Experience}} ans</h3>
										<h5 class="light light-white">D'expérience</h5>
									</div>
								</div>
								<img src="https://res.cloudinary.com/dhncrtnjp/image/upload/v1642423240/{{st.Image}}.png" alt="Team Image" class="fit" id="fit">
								<div class="title">
									<h4>{{st.Nom_condidat}}</h4>
									<h5 class="muted regular">{{st.Titre}}</h5>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 1%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
								<a onclick="vote()" href="#" data-toggle="modal" class="btn btn-blue-fill ripple">Voter</a>
								
							</div>
						</div>
					{% endfor %}

				{% else %}
				<h1>No Data</h1>
				{% endif %}
			</div>
		</div>
	</section>
	
	

	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<h3 class="white">Sign in</h3>
				<form class="popup-form">
					<input type="text" class="form-control form-white" placeholder="Numéro carte d'identité" id="cin" required>
					<input type="password" class="form-control form-white" placeholder="Mot de passe" id="password" required>
					<div class="dropdown">
						
					</div>
					<div class="checkbox-holder text-left">
						<div>
							<label for="squaredOne"><span>Pas de mot de passe ?<strong>  Cliker ici</strong></span></label>
						</div>
					</div>
					<button id="log" onclick="validate()" class="btn btn-submit">Sign in</button>
				</form>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white"></h3>
					<h5 class="light regular light-white"></h5>
					
				</div>
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Vote ouvert pour les enseignants ISI <span class="open-blink"></span></h3>
					<div class="row opening-hours">
						<div class="col-sm-6 text-center-mobile">
							<h5 class="light-white light">Disponibilité De 08 Au 24 Janvier 2022 </h5>
							<h3 class="regular white">24h - 7/7</h3>
						</div>
						
					</div>
				</div>
			</div>
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; 2022 All Rights Reserved. Powered by <a href="http://www.phir.co/">Easy-Way Team </a> exclusively for <a href="http://tympanus.net/codrops/">Election ISI 2022</a></p>
				</div>
				<div class="col-sm-4 text-right text-center-mobile">
					<ul class="social-footer">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
	<!-- Scripts -->
	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<script src="../static/js/typewriter.js"></script>
	<script src="../static/js/jquery.onepagenav.js"></script>
	<script src="../static/js/main.js"></script>
</body>

</html>
